<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExentDocumentParser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ABRXMLSearchSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ABRXMLSearchSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://abr.business.gov.au/abrxmlsearch/AbrXmlSearch.asmx"
                binding="basicHttpBinding" bindingConfiguration="ABRXMLSearchSoap"
                contract="ABRSearch.ABRXMLSearchSoap" name="ABRXMLSearchSoap" />
            <endpoint address="http://abr.business.gov.au/abrxmlsearch/AbrXmlSearch.asmx"
                binding="customBinding" bindingConfiguration="ABRXMLSearchSoap12"
                contract="ABRSearch.ABRXMLSearchSoap" name="ABRXMLSearchSoap12" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="SoapRequestTimeoutInMilliseconds" value="100000"/>
    <add key="WebRequestTimeoutInMilliseconds" value="100000"/>

    <add key="PubSubDownloadURL" value="http://abr.business.gov.au/abrxmlpubsub/abrfiledownload.aspx"/>
    <add key="RPC.ABRXMLSearchURL" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRXMLSearch.asmx"/>
    <add key="Document.ABRXMLSearchURL" value="http://abr.business.gov.au/ABRXMLSearch/ABRXMLSearch.asmx"/>

    <add key="RPC.SoapAction.ABNSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByABN"/>
    <add key="RPC.SoapAction.ASICSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByASIC"/>
    <add key="RPC.SoapAction.NameSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByName"/>

    <add key="Document.SoapAction.ABNSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByABN"/>
    <add key="Document.SoapAction.ASICSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByASIC"/>
    <add key="Document.SoapAction.NameSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByName"/>


  </appSettings>
  <userSettings>
    <ExentDocumentParser.My.MySettings>
      <setting name="RPC_SoapAction_ABNSearch" serializeAs="String">
        <value>http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByABN</value>
      </setting>
      <setting name="Document_SoapAction_ABNSearch" serializeAs="String">
        <value>http://abr.business.gov.au/ABRXMLSearch/ABRSearchByABN</value>
      </setting>
      <setting name="RPC_ABRXMLSearchURL" serializeAs="String">
        <value>http://abr.business.gov.au/ABRXMLSearchRPC/ABRXMLSearch.asmx</value>
      </setting>
      <setting name="Document_ABRXMLSearchURL" serializeAs="String">
        <value>http://abr.business.gov.au/ABRXMLSearch/ABRXMLSearch.asmx</value>
      </setting>
      <setting name="SoapRequestTimeoutInMilliseconds" serializeAs="String">
        <value>100000</value>
      </setting>
    </ExentDocumentParser.My.MySettings>
  </userSettings>
</configuration>